@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Akira';
    src: url(./Fonts/akira.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(./Fonts/Poppins-Regular.ttf);
}